@page 
@model EcomerceRazorPages.Pages.Admin.Categorias.DetalleModel
@{
    ViewData["Title"] = "Detalle Categoria";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4><i class="fa-solid fa-circle-info"></i> Detalle de categoria</h4>
        </div>
        <div class="card-body">
           <dl class="row"> 
               <dt class="col-sm-3">ID</dt>
               <dd class="col-sm-9">@Model.Categoria.Id</dd>
           </dl>
            <dl class="row"> 
               <dt class="col-sm-3">Nombre</dt>
               <dd class="col-sm-9">@Model.Categoria.Nombre</dd>
           </dl>
            <dl class="row">
                <dt class="col-sm-3">Orden de Visualizacion</dt>
                <dd class="col-sm-9">@Model.Categoria.OrdenVisualizacion</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-3">Fecha de creacion</dt>
                <dd class="col-sm-9">@Model.Categoria.FechaCreacion.ToString("dd/MM/yyyy")</dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <a asp-page="Index" class="btn btn-outline-secondary"><i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
    </div>
</div>